# -----------------------------------------------
# ----  GitAttributes  --------------------------
# ----  https://git-scm.com/docs/gitattributes  -
# -----------------------------------------------

# For templates, see
# https://github.com/alexkaratarakis/gitattributes

# -----------------------------------------------
# ----  General  --------------------------------
# -----------------------------------------------

*        text=auto

# -----------------------------------------------
# ----  Documents  ------------------------------
# -----------------------------------------------

*.sh     text    diff=bash
*.md     text    diff=markdown
*.txt    text
*.conf   text

# -----------------------------------------------
# ----  Images  ---------------------------------
# -----------------------------------------------

*.png   -text
*.ico   -text

# -----------------------------------------------
# ----  LFS  ------------------------------------
# -----------------------------------------------

*.gif    -text   filter=lfs diff=lfs merge=lfs
