# -----------------------------------------------
# ----  GitAttributes  --------------------------
# ----  https://git-scm.com/docs/gitattributes  -
# -----------------------------------------------

# For templates, see
# https://github.com/alexkaratarakis/gitattributes

# -----------------------------------------------
# ----  General  --------------------------------
# -----------------------------------------------

*        text=auto

*.png   -text
*.ico   -text

# -----------------------------------------------
# ----  Documents  ------------------------------
# -----------------------------------------------

*.md     text    diff=markdown
*.txt    text
